<%=render './form' %>
<h1>Cart Page</h1>
<br><p>장바구니 목록</p>
<br><table width=100% align=center rules="rows" style="rule-color:grey">
 <tr style="border-bottom: 2px solid black">
  <td>PICTURE</td>
  <td>PRODUCT</td>
  <td>PRICE</td>
 </tr>
</table>

<p>Find me in app/views/cart/index.html.erb</p>
