<table>
  <tr><td>장바구니에 담겼습니다.</td></tr>
  <tr><td>장바구니로 이동하시겠습니까?</td></tr>
  <tr style="text-align:center">
    <td><div style="width:50;display:inline"><%=link_to 'YES', cart_index_path, :onclick => "window.close(this.href);return false"%></div>
    <div style="width:50;display:inline"><%=link_to 'NO', shop_index_path, :onclick => "window.close(this.href);return false"%></div></td>
  </tr>
</table>

