<%= render './form' %>

<% if @shop == [] %>
<<<<<<< HEAD
  <br><p style="text-align:center">검색 결과가 존재하지 않습니다.</p>
<% else %>
<table><tr>
=======
  <br><p style="text-align:center;font-size:10px">검색명과 일치하는 상품이 존재하지 않습니다.</p>
<% else %>
<table style="font-size:10px"><tr>
>>>>>>> 20ddea8bc575a4e8b2ed468e7bd826e3dd69a2dc
  <% @shop.each do |shop| %>
    <td width=200>
<div class="panel"><div class="row panel-body" >
<div class="col-md-3 text-right">
<a><%= image_tag(shop.image, :width => 120, :height => 170)%></a></div>
<div class="col-md-3">
<%= link_to shop.product, shop_path(shop) %>
<p><%= shop.price %> won</p>
    </div>
</div></div>
</td><% end %></tr></table>
</div>
<% end %>
<<<<<<< HEAD
=======

>>>>>>> 20ddea8bc575a4e8b2ed468e7bd826e3dd69a2dc
