<%=render './form' %>
<<<<<<< HEAD
<div align = "center" style = "margin-top : 50px">
=======
<div align = "center" style = "font-size:10px;margin-top : 50px">
>>>>>>> 20ddea8bc575a4e8b2ed468e7bd826e3dd69a2dc
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">Find Id or Password</h1></div>
<br><br><br>
<form action='../send_mail' method="GET">
 <div>메일주소</div><br>
 <input type="text" name="email"/><br>
 <input type="submit" value= "아이디 찾기"/>
</form>                        

<%= button_tag '비밀번호 찾기' %>
