<%=render './form' %>
<div align = "center" style = "margin-top : 50px">
<div class="row">
        <h1 style="font-family:Serif;color:#4c4c4c;text-align:center">LOGIN</h1>
<p>New User? <%=link_to 'sign_up_now',join_index_path%></p>
<p><%=link_to 'login', login_index_path %></p>        
</div>
</div>

