<%= render './form' %>

<br><br>
<p style="text-align:center;font-size:10px">메일로 전송되었습니다.</p>
<br><div style="text-align:center;font-size:10px"><%=link_to '로그인 화면 이동',login_index_path %><div style = "font-size:10px;margin-right : 10px"><%= link_to '홈으로', root_path %></div>
