<%=render './form'%>
<br><br><br><br><br>
<% if @admin == nil %>
<div style="text-align:center">사용 가능한 아이디입니다.</div>
<% else %>
<div style="text-align:center">이미 사용중인 아이디입니다.</div>
<script language="Javascript">
  $(userid).value='';
  $(userid).focus();
</script>
<%end%>
<p style="text-align:center"><a href="javascript:history.back()">확인</a></p>
