<%=render './form' %>
<p style="text-align:center;color:#4c4c4c">MYPAGE</p>

<% if current_user==2 %>
<p style="text-align:center">New user? <%=link_to "Sign up now",join_index_path %></p>
<p style="text-align:center">user? <%=link_to "login",login_index_path %></p>

<% elsif current_user==0 %>
<table width=100% rules="rows">
  <tr style="border:2px black solid;"></tr>
  <tr>
  <td align=center><a href=mypages/inform><img src="minform.JPG" alt="INFORM"/></a></td>
  </tr>
  <tr>
  <td align=center><a href=mypages/static><img src="static.JPG" alt="STATIC"/></a></td>
</table>
<% else %>
<br>
<table width=100% rules="rows" >
  <tr style="border:2px black solid;"></tr>
  <tr>
   <td align=center><a href=mypages/order><img src="order.png" alt="ORDER"/></a></td>
  </tr>
  <tr>
   <td align=center><a href=mypages/inform><img src="inform.JPG" alt="INFORM"/></a></td>
  </tr>
  <tr>
   <td align=center><a href=mypages/board><img src="board.JPG" alt="BOARD"/></a></td>
  </tr>
  <tr>
   <td align=center><a href=mypages/parcel><img src="parcel.jpg" alt="PARCEL"/></a></td>
  </tr>
  <tr style="border:2px black solid;"></tr>
</table>
<<<<<<< HEAD

<p>배송 조회</p><br>
<%if $Delivery==1 %>
<p>현재 강남 터미널에  출고되었습니다.</p>
<%end%>
<%end%>

=======
<% end %>
>>>>>>> 70aad5b9540ff53d735d41818cf249ca5f6f820e
